.single__service__item {
  padding: 20px;
}

.service__img img {
  border-radius: 10px;
  margin-bottom: 20px;
}

.info {
  font-size: 1.4rem;
  
  font-weight: 600;
}

.service__title {
  line-height: 2rem;
  font-weight: 600;
}

.service__top__left h2 {
  font-weight: 600;
}
