@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');



.about__content {
  font-family: 'Nunito Sans', sans-serif;
}

.about__img img {
  border-radius: 15px;
}

.about__content, .about-section h2 {
  font-weight: 600;
}

