@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Andada+Pro:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap");

/* =========== base style ========= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section,
footer {
  padding-top: 50px;
  padding-bottom: 30px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-size: 2rem; */
  line-height: 50px;
  
  font-family: "Comfortaa", cursive;
  color: #0a2b1e;
  /* font-weight: 700; */
}

p {
  color: #596b65;
  font-size: 1.6rem;
  line-height: 35px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
}

button.btn {
  background: #17bf9e;
  color: #fff;
  padding: 7px 25px;
  border-radius: 50px;
}

i {
  color: #17bf9e;
}
